{# templates/profile/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.description) }}
        <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
